/*
Negro: #131313
Amarillo: #f4b150
Morado: #9d5d93
Verde: #7cb269
*/
@font-face {
    font-family: 'Montserrat Bold';
    src: url("fonts/Montserrat-Bold.ttf"); 
}
@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url("fonts/Montserrat-ExtraBold.ttf"); 
}
@font-face {
    font-family: 'Montserrat Italic';
    src: url("fonts/Montserrat-Italic.ttf"); 
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url("fonts/Montserrat-Regular.ttf"); 
}
.logo-formulario{
    width: 150px;
}
.fa-solid{
    color: #000000;
    cursor: pointer;
    font-size: 2rem;
}
.bold{
    font-family: 'Montserrat Bold';
}
.extrabold{
    font-family: 'Montserrat ExtraBold';
}
.italic{
    font-family: 'Montserrat Italic';
}
.regular{
    font-family: 'Montserrat Regular';
}
.txt-rojo{
    color: #FF0058;
}
.txt-azul{
    color: #1844E5;
}
.txt-verde{
    color: #00D07F;
}
.bg-azul{
    background-color: #025373;
    color: #fff;
}
.none_a_decoration{
    text-decoration: none;
    color: #fff;
} 
a:hover{
    color: #fff;
}
html, body {
   	width: 100% !important;
   	overflow-x: hidden;
}
body.modal-open{
    overflow: hidden;
}
.icono-header{
    width: 30px;
}
.carrito{
    float: left;
}
.icono-pagos{
    width: 30px;
}
.video{
    position: relative;
    width: 100%;
    height: 85vh;
    color: #fff;
}
.section__index{
    position: absolute;
    padding: 0px 0px 0px 0px;
}
.texto-header{
    position: absolute;
    color: #fff;
    top: 30%;
    left: 25%;
}
.tachado{
    text-decoration: line-through;
}
.content-sobre-puesto{
    position: relative;
}
.content-sobre-puesto span{
    font-size: 0.5rem;
}
.content-sobre-puesto img{
    margin-top: -110px;
}
.card{
    border-radius: 15px;
}
.modal-header{
    border-bottom: none;
}
.libro{
    cursor: pointer;
}
.opiniones span{
    font-size: 0.7rem;
}
.avalado{
    position: relative;
    right: 0;
    width: 100%;
    min-height: 70vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #111;
    color: #fff;
    z-index: 2;
}
.avalado video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.text{
    position: relative;
    z-index: 10;
}
.avalados-img{
    width: 100px;
}
.btn-compra{
    background-color: #FFAA00;
    border-color: #FFAA00;
    border-radius: 0;
    width: 200px;
}
.btn-compra:hover{
    background-color: #FFAA00;
    border-color: #FFAA00;
    border-radius: 0;
}
.btn-rojo{
    background-color: #FF0058;
    border-color: #FF0058;
}
.btn-rojo:hover{
    background-color: #FF0058;
    border-color: #FF0058;
}
.btn-verde{
    background-color: #00D07F;
    border-color: #00D07F;
}
.btn-verde:hover{
    background-color: #00D07F;
    border-color: #00D07F;
}
.btn-azul{
    background-color: #1844E5;
    border-color: #1844E5;
}
.btn-azul:hover{
    background-color: #1844E5;
    border-color: #1844E5;
}
.btn-licencias{
    width: 250px;
}
.btn-close{
    background: none;
}
.btn-popup{
    width: 250px;
}