/*
Negro: #131313
Amarillo: #f4b150
Morado: #9d5d93
Verde: #7cb269
*/
@font-face {
    font-family: 'Montserrat Bold';
    src: url("fonts/Montserrat-Bold.ttf"); 
}
@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url("fonts/Montserrat-ExtraBold.ttf"); 
}
@font-face {
    font-family: 'Montserrat Italic';
    src: url("fonts/Montserrat-Italic.ttf"); 
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url("fonts/Montserrat-Regular.ttf"); 
}
.bold{
    font-family: 'Montserrat Bold';
}
.extrabold{
    font-family: 'Montserrat ExtraBold';
}
.italic{
    font-family: 'Montserrat Italic';
}
.regular{
    font-family: 'Montserrat Regular';
}
.txt-amarillo{
    color: #f4b150;
}
.txt-morado{
    color: #9d5d93;
}
.txt-azul{
    color: #12417C;
}
.txt-verde{
    color: #7cb269;
}
.txt-negro{
    color: #313131;
}
.none_a_decoration{
    text-decoration: none;
    color: #fff;
} 
a:hover{
    color: #fff;
}
html, body {
   	width: 100% !important;
   	overflow-x: hidden;
}
body.modal-open{
    overflow: hidden;
}
#menu{
    display: none;
}
.logo-header{
    width: 200px;
}
.logo-footer{
    width: 300px;
}
.bb-logo{
    width: 250px;
}
.logo-menu{
    width: 150px;
}
.logo-flujo{
    width: 130px;
}
.fa-solid{
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
}
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
}
.section__index{
    position: absolute;
    padding: 0px 0px 0px 0px;
}
.texto-header{
    position: absolute;
    color: #fff;
    top: 40%;
    left: 20%;
}
.texto-ventajas h3{
    color: #fff!important;
}
.vid-ventajas{
    position: relative;
    width: 100%;
    height: 70vh;
}
.video_descanso{
    position: absolute;
    padding: 0px 0px 0px 0px;
}
.texto-ventajas{
    position: absolute;
    color: #fff;
    margin-top: 4rem;
}
.bg-licencia {
    position: relative;
    width: 100%;
    z-index: 2;
    margin-bottom: 649px;
}
.txt-licencia{
    position: absolute;
    color: #fff;
}
.btn-tramita{
    background-color: #9d5d93;
    border-color: #9d5d93;
    border-radius: 0;
}
.btn-tramita:hover{
    background-color: #9d5d93;
    border-color: #9d5d93;
    border-radius: 0;
}
.btn-paises{
    background-color: #f4b150;
    border-color: #f4b150;
    border-radius: 0;
    width: 250px;
}
.btn-paises:hover{
    background-color: #f4b150;
    border-color: #f4b150;
    border-radius: 0;
    width: 250px;
}
.btn-azul{
    background-color: #12417C;
    border-color: #12417C;
    border-radius: 0;
}
.btn-azul:hover{
    background-color: #12417C;
    border-color: #12417C;
    border-radius: 0;
}
.btn-verde{
    background-color: #7cb269;
    border-color: #7cb269;
    border-radius: 0;
}
.btn-verde:hover{
    background-color: #7cb269;
    border-color: #7cb269;
    border-radius: 0;
}
.btn-morado{
    background-color: #9d5d93;
    border-color: #9d5d93;
    border-radius: 0;
}
.btn-morado:hover{
    background-color: #9d5d93;
    border-color: #9d5d93;
    border-radius: 0;
}
.btn-enviar{
    background-color: #f4b150;
    border-color: #f4b150;
    width: 150px;
}
.btn-enviar:hover{
    background-color: #f4b150;
    border-color: #f4b150;
}
.btn-close{
    background: none;
}
.bg-azul{
    background-color: #173C5C;
    color: #fff;
}
.bg-morado{
    background-color: #9d5d93;
    color: #fff;
    width: 200px;
    padding: 0;
}
.bg-atras{
    border: 1px solid #12417C;
    border-color: #12417C;
}
.bg-continuar{
    background-color: #12417C;
    border-color: #12417C;
}
footer a, h3{
    color: #000000;
}
.icono-footer{
    width: 30px;
}
.icono-ventajas{
    width: 100px;
}
.icono-cicr{
    width: 100px;
}
.icono-onu{
    width: 100px;
}
.icono-mexico{
    width: 250px;
}
.icono-point{
    width: 45px;
}
.whats-flujo{
    width: 30px;
    float: left;
}
.carro{
    width: 100px;
}
.telefono{
    border: 1px solid #fff;
}
.borde-derecho{
    border-left: 1px solid #000000;
}
.modal-content{
    background-image: url('../img/bg-popup.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.modal-header{
    border-bottom: none;
}
@media(max-width:400px){
    .texto-header{
        color: #000000;
        top: 40%;
        left: 0;
    }
    .txt-licencia{
        color: #000000;
    }
    .texto-ventajas h3 {
        color: #000000!important;
    }
    .vid-ventajas{
        margin-bottom: 600px;
    }
}